.main {
    background: url("./background.png");
}

.leaflet-container section {
    background-color: azure;
    border: 1px lightgray solid;
    border-radius: 10px;
    color: brown;
    display: grid;
}

.leaflet-container section img {
    width: 100%;
    border-radius: 10px;
}

.leaflet-main-header {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    justify-content: center;
    align-content: center;
}

@media (max-width: 350px) {
    .email-form-input {
        height: 5vw;
        width: 75%;
        border-radius: 4px;
        color: black;
        font-size: 3vw;
        align-self: center;
        padding: 6px;
    }

    .email-form-button {
        background-color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 4px;
        justify-self: end;
        cursor: pointer;
        width: 75%;
        height: 6%;
        color: black;
        font-size: 3vw;
        padding: 4.5vw;
    }


    .email-form-text {
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 5vw;
        grid-column-start: 1;
        grid-column-end: 3;
        font-weight: lighter;
        filter: drop-shadow(6px 0px 20px #ff98bf);
        font-family: "Open Sans", sans-serif;
        color: #5c84ff;
        text-align: center;
    }

    .leaflet-first-header-title {
        display: grid;
        justify-content: center;
        margin-block-start: 8px;
        font-size: 10vw;
        font-weight: lighter;
        filter: drop-shadow(0px 0px 30px #98b2ff);
        font-family: "Open Sans", sans-serif;
        align-content: center;
        color: black;
        padding-top: 4vh;
        text-transform: uppercase;
    }

    .leaflet-second-header-title {
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 0 0 5vh !important;
        padding-block-start: 20px;
        font-size: 7vw;
        font-weight: normal;
        font-family: "Open Sans", sans-serif;
        color: #171717;
        margin-top: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .main {
        font-size: 6vw;
    }

    .leaflet-container {
        display: grid;
        grid-gap: 12px;
        margin-left: 2px;
        margin-right: 2px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 62px;
    }

    .leaflet-item {
        display: grid;
        cursor: pointer;
        grid-template-columns: 30fr 15fr 15fr 30fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .numeric-page-selector {
        display: none !important;
    }

    .price-content {
        color: lightgray;
        font-size: 3.1vw;
        text-decoration: line-through black;
    }


    .leaflet-item-discount-info {
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        background-color: #ffd500;
        padding: 4px;
        filter: opacity(90%);
        margin: 6px;
        font-weight: bold;
        font-size: 3.1vw;
        color: #B5002F;
        border-radius: 10px;
        grid-row-start: 5;
        grid-row-end: 7;
    }

}

@media (max-width: 650px) and (min-width: 350px) {
    .email-form-input {
        height: 18px;
        width: 70%;
        margin-left: 20px;
        border-radius: 4px;
        color: black;
        font-size: 16px;
        padding: 6px;
    }

    .email-form-button {
        background-color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 4px;
        cursor: pointer;
        width: 62px;
        height: 13px;
        color: black;
        font-size: 12px;
        padding: 14px;
    }

    .email-form-text {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 10px 10px;
        font-size: 24px;
        grid-column-start: 1;
        grid-column-end: 3;
        font-weight: lighter;
        filter: drop-shadow(6px 0px 20px #ff98bf);
        font-family: "Open Sans", sans-serif;
        color: #5c84ff;
        text-align: center;
    }

    .price-content {
        color: lightgray;
        font-size: 14px;
        text-decoration: line-through black;
    }

    .leaflet-first-header-title {
        display: grid;
        justify-content: center;
        margin-block-start: 8px;
        font-size: 8vw;
        font-weight: lighter;
        filter: drop-shadow(0px 0px 30px #98b2ff);
        font-family: "Open Sans", sans-serif;
        align-content: center;
        color: black;
        letter-spacing: 5px;
        padding-top: 4vh;
        text-transform: uppercase;
    }


    .leaflet-item-discount-info {
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: #ffd500;
        padding: 4px;
        filter: opacity(90%);
        margin: 6px;
        font-weight: bold;
        color: #B5002F;
        border-radius: 10px;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .leaflet-second-header-title {
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 0 0 5vh !important;
        padding-block-start: 20px;
        font-size: 5vw;
        font-weight: normal;
        font-family: "Open Sans", sans-serif;
        color: #171717;
        margin-top: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .leaflet-container {
        display: grid;
        grid-gap: 12px;
        margin-left: 6px;
        margin-right: 6px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 62px;
    }

    .leaflet-item {
        display: grid;
        cursor: pointer;
        grid-template-columns: 30fr 15fr 15fr 30fr;
        grid-template-rows: repeat(8, 1fr);
    }
}

@media (min-width: 650px) {
    .email-form-input {
        height: 18px;
        width: auto;
        margin-left: 40px;
        border-radius: 4px;
        color: black;
        font-size: 16px;
        padding: 6px;
    }

    .email-form-button {
        background-color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 4px;
        cursor: pointer;
        width: 102px;
        height: 18px;
        color: black;
        font-size: 16px;
        padding: 14px;
    }


    .email-form-text {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 10px 30px;
        font-size: 30px;
        grid-column-start: 1;
        grid-column-end: 3;
        font-weight: lighter;
        filter: drop-shadow(6px 0px 20px #ff98bf);
        font-family: "Open Sans", sans-serif;
        color: #5c84ff;
        text-align: center;
    }

    .price-content {
        color: lightgray;
        font-size: 14px;
        text-decoration: line-through black;
    }

    .leaflet-first-header-title {
        display: grid;
        justify-content: center;
        margin-block-start: 8px;
        font-size: 50px;
        font-weight: lighter;
        filter: drop-shadow(0px 0px 30px #98b2ff);
        font-family: "Open Sans", sans-serif;
        align-content: center;
        color: black;
        letter-spacing: 7px;
        padding-top: 4vh;
        text-transform: uppercase;
    }


    .leaflet-item-discount-info {
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: #ffd500;
        padding: 4px;
        filter: opacity(90%);
        margin: 6px;
        font-weight: bold;
        color: #B5002F;
        border-radius: 10px;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .leaflet-second-header-title {
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 0 0 5vh !important;
        padding-block-start: 20px;
        font-size: 25px;
        font-weight: normal;
        font-family: "Open Sans", sans-serif;
        color: #171717;
        margin-top: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .leaflet-container {
        display: grid;
        grid-gap: 12px;
        margin-left: 0.6vw;
        margin-right: 0.6vw;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        margin-bottom: 62px;
    }

    .leaflet-item {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 3fr;
        grid-template-rows: repeat(8, 1fr);
        cursor: pointer;
        transition: filter, transform 0.3s ease-out;
        gap: 10px;
    }

    .leaflet-item:hover {
        filter: drop-shadow(0px 0px 4px #98b2ff);
        transform: scale(1.02, 1.02);
        transition: transform 0.4s ease-out;
    }
}

.price-with-discount-content {
    color: white;
}

@media (min-width: 460px) {
    .leaflet-item-title {
        grid-row-start: 2;
        grid-row-end: 6;
        margin-left: 14px;
        text-align: center;
        margin-right: 14px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    .leaflet-item-price {
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgba(161, 0, 47, 0.9);
        border: 2px rgba(0, 0, 0, 0.9) solid;
        color: azure;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media (max-width: 460px) and (min-width: 350px) {
    .leaflet-item-price {
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgba(161, 0, 47, 0.9);
        border: 2px rgba(0, 0, 0, 0.9) solid;
        color: azure;
        font-size: 13px;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .leaflet-item-title {
        grid-row-start: 2;
        grid-row-end: 6;
        margin-left: 4px;
        text-align: center;
        margin-right: 4px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 350px) {
    .leaflet-item-price {
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgba(161, 0, 47, 0.9);
        border: 2px rgba(0, 0, 0, 0.9) solid;
        color: azure;
        font-size: 3.5vw;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .leaflet-item-title {
        grid-row-start: 2;
        grid-row-end: 6;
        margin-left: 4px;
        text-align: center;
        margin-right: 4px;
        font-family: "Open Sans", sans-serif;
        font-size: 4.5vw;
        font-weight: bold;
    }

    .leaflet-item-rating-container {
        display: none;
    }
}

.email-form-button:hover {
    background-color: #e1e3f3;
}

.leaflet-item-rating-container {
    grid-row-start: 7;
    grid-row-end: 8;
    margin-left: 14px;
    margin-right: 14px;
    align-self: center;
    justify-self: center;
}

.leaflet-item-img {
    grid-row-start: 2;
    grid-row-end: 8;
}

.leaflet-footer {
    border-top: solid 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 8px;
    width: 100%;
    background-color: azure;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.page-selector {
    width: 32px;
    height: 28px;
    background-color: white;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    padding: 12px;
}

.page-selector:hover {
    background-color: #e1e3f3;
}

.page-selector.page-selector-chosen {
    background-color: #e1e3f3;
    border-radius: 4px;
    width: 32px;
    height: 28px;
    cursor: default;
    color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    padding: 12px;
}

.leaflet-footer-pagination-section-pages {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    margin-right: 80px;
    margin-left: 80px;
    gap: 12px;
}

@media (min-width: 650px) {
    .leaflet-footer-pagination-section-itemsperpage {
        display: inline-grid;
        justify-content: center;
        align-content: center;
        margin-left: 20px;
        grid-template-columns: 2fr 2fr 1fr 2fr;
    }

    .leaflet-footer-pagination-section {
        grid-column-start: 3;
        grid-column-end: 5;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .leaflet-footer-pagination-section-itemsperpage {
        display: none;
    }

    .leaflet-footer-pagination-section {
        grid-column-start: 3;
        grid-column-end: 5;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
    }
}

label.item-number-label {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-content: end;
}

.item-number-content {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
    align-content: start;
}

.email-form-container {
    margin-top: 42px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 460px) {
    .star-icon {
        font-size: 10px;
    }
}

.email-form-modal {
    transition: all 2s;
}

@media (min-width: 750px) {
    .leaflet-detail-container {
        display: grid;
        grid-gap: 12px;
        margin-left: 50px;
        margin-right: 50px;
        grid-template-columns: 8fr 10fr;
        grid-template-rows: minmax(95vh, auto);
        background-color: azure;
        border: 1px lightgray solid;
        border-radius: 10px;
    }

    .leaflet-detail-info-description {
        font-size: 2.7vh;
        font-weight: lighter;
        font-family: "Open Sans", sans-serif;
        color: black;
        text-align: justify;
        padding-top: 3vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .leaflet-detail-info-container {
        display: grid;
        grid-template-rows: repeat(5, auto);
        margin-right: 30px;
    }

    .leaflet-detail-image {
        display: grid;
        width: 40vw;
        height: 40vw;
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .leaflet-detail-back-button {
        width: 2vw;
        height: 2vw;
        font-size: 26px;
        background: #5c84ff;
        margin-left: 36px;
        margin-top: 5vh;
        cursor: pointer;
        padding: 10px;
        filter: brightness(150%);
        transition: all 0.5s;
        color: #171717;
        border-radius: 60px;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-self: left;
        align-self: start;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .leaflet-detail-info-price {
        display: grid;
        width: 24vw;
        font-size: 1.5vw;
        background-color: rgba(161, 0, 47, 0.9);
        border: 2px rgba(0, 0, 0, 0.9) solid;
        color: azure;
        align-self: center;
        justify-self: center;
        text-align: center;
        border-radius: 10px;
        align-content: center;
        margin: 0 0 3vh;
    }

    .leaflet-detail-info-discount {
        display: grid;
        width: 24vw;
        height: 4vw;
        font-size: 1.5vw;
        justify-content: center;
        align-self: center;
        justify-self: center;
        align-content: center;
        background-color: #ffd500;
        filter: opacity(90%);
        color: #B5002F;
        border-radius: 10px;
        margin: 0 0 3vh;
    }

    .price-content-detail {
        color: lightgray;
        font-size: 2vw;
        text-decoration: line-through black;
    }
}

@media (max-width: 750px) {
    .leaflet-detail-container {
        display: grid;
        grid-gap: 12px;
        margin-left: 2px;
        margin-right: 2px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: azure;
        border: 1px lightgray solid;
        border-radius: 10px;
    }

    .leaflet-detail-info-description {
        font-size: 3vw;
        font-weight: lighter;
        font-family: "Open Sans", sans-serif;
        color: black;
        text-align: justify;
        padding-top: 3vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .leaflet-detail-info-container {
        display: grid;
        grid-template-rows: repeat(5, auto);
    }

    .leaflet-detail-image {
        display: grid;
        width: 40vw;
        height: 40vw;
        margin-top: 40px;
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .leaflet-detail-back-button {
        width: 5vw;
        height: 5vw;
        font-size: 5vw;
        background: #5c84ff;
        margin-left: 3vw;
        margin-top: 3vw;
        cursor: pointer;
        padding: 10px;
        filter: brightness(150%);
        transition: all 0.5s;
        color: #171717;
        border-radius: 60px;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-self: left;
        align-self: start;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .leaflet-detail-info-price {
        display: grid;
        width: 40vw;
        font-size: 2.5vw;
        background-color: rgba(161, 0, 47, 0.9);
        border: 2px rgba(0, 0, 0, 0.9) solid;
        color: azure;
        align-self: center;
        justify-self: center;
        text-align: center;
        border-radius: 10px;
        align-content: center;
        margin: 0 0 3vh;
    }

    .leaflet-detail-info-discount {
        display: grid;
        width: 40vw;
        font-size: 2.5vw;
        justify-content: center;
        align-self: center;
        justify-self: center;
        align-content: center;
        background-color: #ffd500;
        filter: opacity(90%);
        color: #B5002F;
        border-radius: 10px;
        margin: 0 0 3vh;
    }

    .price-content-detail {
        color: lightgray;
        font-size: 2vw;
        text-decoration: line-through black;
    }
}

.leaflet-detail-drawable-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.leaflet-detail-back-button:hover {
    filter: brightness(170%);
    transform: scale(1.1, 1.1);
}

.leaflet-detail-info-title {
    font-size: 2.9vw;
    font-weight: lighter;
    filter: drop-shadow(0px 0px 10px #c1d0ff);
    font-family: "Open Sans", sans-serif;
    align-content: center;
    color: #5c84ff;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 4vh;
    text-transform: uppercase;
}

.leaflet-detail-info-rating-container {
    align-self: center;
    justify-self: center;
}